.login-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  /* LEFT */
  .left-panel {
    background-image: url("../assets/loginImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 40px;
    position: relative;
  }
  
  
  .top-bar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background: white;
    color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: bold;
  }

  .welcome-text{
      margin-left: 40px;
  }
  
  .welcome-text h1 {
    margin-top: 80px;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 0;
}

.welcome-text h3 {
    margin-top: 12px;
    font-size: 36px;
    font-weight: 400;
}

.welcome-text p {
    margin-top: 20px;
    font-size: 24px;
    max-width: 400px;
  }
  
  /* RIGHT */
  .right-panel {
    background: #f3f3f3;
    display: grid;
    place-items: center;
  }
  
  .login-form {
    width: 60%;
    margin-top: 18vh;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .input-group label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 1.5em;
  }
  
  .input-group input {
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 0 20px;
  }
  
  .links {
    text-align: right;
    margin-bottom: 40px;
  }

  .links p {
    margin-right: 5px;
  }
  
  .links a {
    margin-bottom: 16px;
    display: block;
    color: #4f46e5;
    font-size: 14px;
  }
  
  .login-btn {
    width: 200px;
    height: 65px;
    border-radius: 15px;
    background: #4f46e5;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  
  .flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .m-top{
    margin-top: 96px;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
  }